source/sharcvars.sh
TEST/
bin/data_converter.x
bin/data_extractor.x
bin/data_extractor_NetCDF.x
bin/diagonalizer.x
bin/laser.x
bin/sharc1.x
bin/sharc2.x
bin/sharcvars.csh
bin/sharcvars.sh
lib/__pycache__/
lib/libsharc.so
lib/libsharcnc.so
pysharc/build/
pysharc/lib/libsharc.so
pysharc/lib/libsharcnc.so
pysharc/netcdf/nc_basic.o
pysharc/netcdf/nc_sharc.o
pysharc/sharc/__pycache__/
pysharc/sharc/pysharc/__pycache__/
pysharc/sharc/sharc.cpython-310-x86_64-linux-gnu.so
pysharc/sharc/sharc.cpython-39-x86_64-linux-gnu.so
pysharc/sharc_setup/__pycache__/
source/LASER_calc_fftw.o
source/LASER_definitions.o
source/LASER_input.o
source/LASER_main.o
source/army_ants.mod
source/army_ants.o
source/bsh.mod
source/bsh.o
source/build_info.inc
source/data_converter.o
source/data_converter.x
source/data_extractor.o
source/data_extractor.x
source/data_extractor_NetCDF.o
source/data_extractor_NetCDF.x
source/data_extractor_NetCDFmodule.o
source/data_extractor_netcdfmodule.mod
source/decoherence_afssh.mod
source/decoherence_afssh.o
source/decoherence_dom.mod
source/decoherence_dom.o
source/definitions.mod
source/definitions.o
source/definitions_NetCDF.o
source/definitions_netcdf.mod
source/diagonalizer.o
source/diagonalizer.x
source/driver.mod
source/driver.o
source/electronic.mod
source/electronic.o
source/electronic_laser.mod
source/electronic_laser.o
source/input.mod
source/input.o
source/input_list.mod
source/input_list.o
source/interface.o
source/laser.x
source/laser_calc.mod
source/laser_definitions.mod
source/laser_input.mod
source/main.o
source/matrix.mod
source/matrix.o
source/memory_module.mod
source/misc.mod
source/misc.o
source/nuclear.mod
source/nuclear.o
source/output.mod
source/output.o
source/pointer_basis.mod
source/pointer_basis.o
source/qm.mod
source/qm.o
source/qm_out.mod
source/qm_out.o
source/restart.mod
source/restart.o
source/sharc.x
source/sharc2.x
source/sharcvars.csh
source/string.mod
source/string.o
source/tsh_tu.mod
source/tsh_tu.o
source/zpe.mod
source/zpe.o
